<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[RTEvents.Database]*,[RTEvents.Core]*,[RTEvents.API]*</Include>
          <ExcludeByFile>**/Migrations/*.cs,**/RTEventsDbContext.cs,**/Program.cs,**/obj/**/*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
